/ ログイン後のヘッダー
= link_to 'ホーム', home_path, class: "btn btn-secondary"
= link_to '検索', '', class: "btn btn-secondary"
= link_to '追加', new_task_path, class: "btn btn-secondary"
= link_to 'プロジェクト追加', new_project_path, class: "btn btn-secondary"
= link_to 'タグ追加', new_tag_path, class: "btn btn-secondary"
= link_to '分析', '', class: "btn btn-secondary"

/ 後ほどハンバーガーメニューにする項目
= current_user.email
= link_to 'アカウント設定', '', class: "btn btn-secondary"
= link_to '完了したタスク', '', class: "btn btn-secondary"
= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-secondary"

hr

h4 プロジェクト一覧
- current_user.projects.each do |project|
  = link_to project.name, project_path(project.id)
  br

hr

h4 タグ一覧
- current_user.tags.each do |tag|
  = link_to tag.name
  br

hr

= link_to 'インボックス', home_inbox_path, class: "btn btn-info"
= link_to '今日のタスク', home_path, class: "btn btn-info"
= link_to '今後のタスク', home_future_path, class: "btn btn-info"

hr
