= link_to 'インボックス', home_inbox_path, class: "task-list mt-4", :style=>"color:#6558F5;"
br
= link_to '今日のタスク', home_path, class: "task-list", :style=>"color:#6558F5;"
br
= link_to '今後のタスク', home_future_path, class: "task-list", :style=>"color:#6558F5;"
br


/ プロジェクト関連
i.fas.fa-angle-down.mt-5.mb-4  プロジェクト
br

- current_user.projects.each do |project|
  = link_to project.name, project_path(project.id), class: 'task-list', :style=>"color:#6558F5;"
  br

= link_to 'プロジェクトを追加', new_project_path, remote: true, class: "btn", :style=>"color:#6558F5; border: 1px solid #6558F5;", id: 'project-add-shortcut'

br

/ タグ関連
i.fas.fa-angle-down.mt-5.mb-4  タグ
br
- current_user.tags.each do |tag|
  = link_to tag.name, tag_path(tag.id), class: 'task-list', :style=>"color:#6558F5;"
  br

= link_to 'タグを追加', new_tag_path, remote: true, class: "btn mb-4", :style=>"color:#6558F5; border: 1px solid #6558F5;", id: 'tag-add-shortcut'

/ プロジェクト作成のModalの表示
#project-modal.modal.fade tabindex="-1"

/ タグ作成のModalの表示
#tag-modal.modal.fade tabindex="-1"