= link_to 'インボックス', home_inbox_path, class: "task-list mt-4"
br
= link_to '今日のタスク', home_path, class: "task-list"
br
= link_to '今後のタスク', home_future_path, class: "task-list"
br


/ プロジェクト関連
i.fas.fa-angle-down.mt-5.mb-4  プロジェクト

- current_user.projects.each do |project|
  = link_to project.name, project_path(project.id), class: 'task-list'
  br

= link_to 'プロジェクトを追加', new_project_path, class: "btn btn-outline-primary"

br

/ タグ関連
i.fas.fa-angle-down.mt-5.mb-4  タグ
- current_user.tags.each do |tag|
  = link_to tag.name, tag_path(tag.id), class: 'task-list'
  br

= link_to 'タグを追加', new_tag_path, class: "btn btn-outline-primary mb-4"