// headerテンプレート
ul {
  list-style: none;
}
li{
  margin: 0 10px;
}
header{
  width: 100%;
}
html,body{
  height: 100vh;
}
// ベース部分
.wrapper {
  width: 100%;
}

.main{
  background-color:#DFE6ED;
  // min-height: auto;
}

// siderbarテンプレート
.task-list{
  display:block;
}
.sidebar-title{
  font-size: 18px;
}

// form関連
.submit-button{
  float: right;
}

.page-title{
  font-weight: bold;
}

.task {
  color:#6558F5;
}

.task-done {
  color: grey;
  text-decoration: line-through;
}