// headerテンプレート
ul {
  list-style: none;
}
li{
  margin: 0 10px;
}
header{
  width: 100%;
}
html,body{
  height: 100%;
}
// ベース部分
.main{
  background-color:#DFE6ED;
  min-height: auto;
}

// siderbarテンプレート
.task-list{
  display:block;
}
.sidebar-title{
  font-size: 18px;
}
